//*{ border:1px solid red; box-sizing:border-box;}

@import "@/css/roboto.css";
@import "~normalize.css";

$color_lightpink: #fc8297;
//$color_lightpink: lightpink;
//$color_lightpink: blue;
$color_coral: coral;
$color_bg1: $color_lightpink;
$color_bg2: white;
$color_btn1: #ff5050;
$color_btn2: #d75050;
$color_blue: #c9e5fb;
$padding_container: 5% 2% 5% 2%;

html, body{
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 16px;
	width: 100%;
	min-width: 320px;
	user-select: none;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-tap-highlight-color: transparent;
}
@media screen and (max-width: 971px) {
	.feedback {
		.wrapper {
			width: 300px;
		}
	}
}

h5{color: hotpink}
/*
@mixin flex_spaceAr{
	display: flex;
	justify-content: space-around;
}
@mixin flex_center{
	display: flex;
	justify-content: center;
}
@mixin flex_spaceEv{
	display: flex;
	justify-content: space-evenly;
}*/
@mixin btn{
	border-radius: 20px;
	padding: 18px 32px 18px 32px;
	border: 1px solid white;
	background-color: $color_bg1;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
}

.show{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;

	animation-name: fade;
	animation-duration: 1.0s;
}
.hide-animation{
	animation-name: noFade;
	animation-duration: .5s;
}
.hide{
	display: none;
}

@keyframes fade {
	from{opacity: 0.1;}
	to{opacity: 1;}
}
@keyframes noFade {
	from{opacity: 1;}
	to{opacity: 0;}
}


.bold {
	font-weight: 700;
}

h1{
	text-align: center;
	font-size: 2rem;
}

.container {
	position: relative;
	width: 100%;
}

.uppercase{
	text-transform: uppercase;
}

.background1, .background2{

	background-size: cover;
	background-color: lightpink;
	background-position: 50% 0%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFF;
}
.background1{
	background-image: url("@img/bg/header_new.jpg");
}
.background2{
	height: 40vh;
	background-image: url('../img/bg/header_new.jpg');
	text-align: center
}

/**********************************************************************************************************************/



.js_cakes {
	z-index: 10;
}

.promo-new{
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -1;
	.container {
		min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		.promo-new__logo {
			vertical-align: middle;
			&-img {
				display: block;
				height: 350px;
				margin: 0 auto 0 auto;
			}
			&-title {
				margin-top: 20px;
				display: block;
				color: white;
				font-size: 3rem;
				span{
					font-size: 1.5rem;
				}
			}
		}
	}
	//#logo-arrow2 a {
	//}

	#logo-arrow2 a span {
		position: absolute;
		bottom: 50px;
		left: 50%;
		width: 48px;
		height: 48px;
		margin-left: -24px;
		border-left: 1px solid #fff;
		border-bottom: 1px solid #fff;
		transform: rotate(-45deg);
		animation: sdb05 1.5s infinite;
		box-sizing: border-box;


	}

	@keyframes sdb05 {
		0% {
			transform: rotate(-45deg) translate(0, 0);
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
		100% {
			transform: rotate(-45deg) translate(-20px, 20px);
			opacity: 0;
		}
	}
}

@keyframes sdb06 {
	0% {
		transform: rotate(135deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: rotate(135deg) translate(-20px, 20px);
		opacity: 0;
	}
}

.nav {
	min-height: 40px;
	background-color: $color_lightpink;
	display: flex;
	justify-content: center;

	&__line {
		color: white;
	}

	&__title {
		padding: 20px 0 20px 0;
		color: white;
		font-size: 2rem;
		text-align: center;
	}

	&__menu {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		color: white;

		button {
			padding: 18px 32px 18px 32px;
			background-color: rgba(0, 0, 0, 0);
			border: 0;
			border-radius: 20px;
			text-transform: uppercase;
			font-size: 1.2rem;
			cursor: pointer;
			outline: none;
			text-decoration: none;
			margin: 5px;
			transition: .5s;
			color: white;

			&:hover {
				background-color: white;
				text-decoration: none;
				color: $color_lightpink;
			}

			&:hover > a {
			}
		}

		a {
			color: white;
			text-decoration: none;
			text-transform: uppercase;
		}

		a:hover {
		}

		a:active {
			color: white;
		}
	}


	.promo-btn {
		@include btn;
		margin-top: 5px;
		margin-bottom: 5px;
		box-shadow: 0 0 15px 15px rgba(255, 255, 255, 0.4);
		border-radius: 100px;
		background-color: $color_btn1;
		transition: .5s;

		a {
			color: white;
			background: none;
		}

		&:hover {
			background-color: white;
			color: $color_lightpink;
			border: 1px solid $color_lightpink;
			//transform: scale(1.1);

		}

		&:hover > a {
			text-decoration: none;
			color: $color_lightpink;
		}
	}

	.nav__menu2 {
		display: none;
	}

	#arrow_up{

		//position:fixed;
		//display:none;
		//text-indent:-9999px;
		//bottom: 30px;
		//right: 30px;
		//height: 60px;
		//width: 60px;
		//opacity:0.7;
		//background-color: $color_lightpink;
		//color: #0b5ed7;
		//border-radius: 100%;
		//rotation: 180grad;
		//z-index: 100;
		//border: white 1px solid;
		//transition: .5s;
		//&:hover{
		//	transform: scale(1.1);
		//	opacity: 0.9;
		//}
		a span {
			position: fixed;

			bottom: 30px;
			right: 30px;
			height: 60px;
			width: 60px;
			background-color: $color_lightpink;
			border-radius: 100%;
			z-index: 100;
			margin-left: -24px;
			border-left: 1px solid #fff;
			border-bottom: 1px solid #fff;
			transform: rotate(-90deg);
			animation: sdb06 3.5s infinite;
			box-sizing: border-box;

			display: flex;
			justify-content: center;
			align-items: center;
			//margin: 0 auto;
			//justify-content: center;
			//&:hover{
			//	transform: scale(2.1);
			//	opacity: 0.9;
			//}
			img {
				transform: rotate(-135deg);
				width: 30px;
				height: 30px;
				//left: -5px;
				//position: relative;
			}
		}
	}
}

.title{
	text-align: center;
	padding-bottom: 2%;
	font-size: 1.5rem;
	&-mini {
		padding-top: 10px;
		text-align: center;
		font-style: italic;
	}
}


.mask, .view .content {
	width: 320px;
	height: 320px;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	border-radius: 8px;
}

.view {
	position: relative;
	text-align: center;
	cursor: default;
	h2 {
		text-transform: uppercase;
		text-align: center;
		position: relative;
		font-size: 17px;
		padding: 10px;
		background: rgba(201, 229, 251, 0.8);
		margin: 20px 0 0 0
	}
	h3 {
		font-style: italic;
		position: relative;
		color: #fff;
		padding: 10px 20px 20px;
		text-align: center
	}
	.price {
		text-transform: uppercase;
		text-align: left;
		position: absolute;
		font-size: 17px;
		padding: 10px;
		border-radius: 8px;
		bottom: 5px;
		left: 5px;
		background: rgba(201, 229, 251, 0.8);
		margin: 20px 0 0 0
	}
	.wt{
		text-transform: uppercase;
		text-align: center;
		position: absolute;
		font-size: 17px;
		padding: 10px;
		border-radius: 8px;
		bottom: 5px;
		right: 5px;
		background: rgba(201, 229, 251, 0.8);
		margin: 20px 0 0 0
	}
}

.view-first .mask { //маска рамки с тортом
	opacity: 0;
	//background-color: rgba(252,130,151, 0.7);
	//transition: all 0.4s ease-in-out;
	//border: rgba(252,130,151, 0.7) 10px solid;
	//transform: scale(0.95);
	transition: 0.5s;
}
.mask:hover svg {
	stroke-dashoffset: -1280;
}

/*btn контурная анимация*/
/*.btn {
	//width: 180px;
	//height: 60px;
	//cursor: pointer;
	background: transparent;
	border: 1px solid #91c9ff;
	outline: none;
	transition: 1s ease-in-out; //плавное перекрашивание цвета фона кнопки
}*/

svg {
	//position: absolute;
	//left: 0;
	//top: 0;
	fill: none;
	stroke: #fff;
	stroke-width: 5;
	stroke-dasharray: 321 2580; //px?
	stroke-dashoffset: 320;
	transition: 1s ease-in-out;
}

.tmp1{
	width: 320px;
	height: 320px;
	display: block;
	background-color: #3ab6da;
}

.flash {
	position: relative;
//	cursor:pointer;
	overflow: hidden;
}
.flash:after {
	content: "";
	position: absolute;
	top: 0;
	left: -50%;
	//overflow: hidden;
	width: 200%;
	height: 100%;
	background: linear-gradient(to left, rgba(255,255,255,.0), rgba(255,255,255,.5), rgba(255,255,255,.0)) no-repeat -50% 0%;
	background-size: 225px 100%;
	transform: skewX(-45deg);

	transition: .5s linear;
	animation-fill-mode: forwards;
	//background-color: red;
}
.flash:hover:after {
	//transition: .5s linear;
	background-position: 150%;
	animation-fill-mode: forwards;
}
/**/




.mask2 {
	opacity: 0;
	background-color: rgba(252,130,151, 0.1);
	transition: all 0.4s ease-in-out;
}
.view-first {
	h2 {
		transform: translateY(-50%);
		opacity: 0;
		transition: all 0.2s ease-in-out;
	}

	h3 {
		transform: translateY(-50%);
		opacity: 0;
		transition: all 0.2s linear;
	}

	&:hover .mask {
		opacity: 1;
		//transform: scale(1.05);
	}
}
.view-first:hover h2, .view-first:hover h3 /*, .view-first:hover a.info*/ {
	opacity: 1;
	transform: translateY(0px);
}
.view-first:hover h3 {
	transition-delay: 0.1s;
}



.menulist{ //круглое меню с 4 кнопками
	padding: $padding_container;
	//min-height: 100%;
	background-color: $color_bg2;
	z-index: 10;
	transition: width 1s ease-in-out;
	//transition:width 1s ease-in-out;
	//&:hover{
	//	//background-color: red;
	//	transition: 1s ease-in-out;
	//}

	&__wrapper {
		//position: sticky;
		//top: 0;
		//background-color: $color_bg2;
		border-radius: 50px;
		opacity: 95%;
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		z-index: 20;
	}
	&__item {
		z-index: 10;
		margin: 5px;
		&:hover > button{
			background-image: linear-gradient(to top, white 0%, white 100%);
			color: red;
			border: 1px solid $color_lightpink;
			box-shadow: 0px 0px 20px 20px rgba(252, 130, 151, 0.2);
		}
		&:hover > .round{
			background-color: $color_lightpink;
			border: 1px solid $color_lightpink;
			box-shadow: 0px 0px 20px 20px rgba(252, 130, 151, 0.2);
		}
		.round {
			margin: 0 auto;
			background-color: $color_blue;
			margin-top: 10px;
			height: 150px;
			width: 150px;

			border: 1px solid white;
			border-radius: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			outline: none;
			transition: .5s;
			img {
				height: 150px;
				//height: 14vmin;
			}
		}
		button {
			display: block;
			margin: 0 auto;
			margin-top: 10px;
			@include btn;
			transition: .5s;
		}
	}

	.js_cakes{
		transition: 1s;
		a {
			text-decoration: none;
			color: black;
		}
	}

	.wrapper__cakes, .wrapper__macarons, .wrapper__cupcakes, .wrapper__tarts, .wrapper__chocolate,
	.wrapper__yummy, .wrapper__flowers, .wrapper__hide {
		margin-top: 20px;
		z-index: 10;

		.descr{
			text-align: right;
			max-width: 320px;
			z-index: 10;
		}
		.img_item{
			margin: 5px;
			z-index: 10;

		}
		.wt{
			text-align: right;
		}
	}
	.wrapper__hide{
		 .cake-img {
			 //margin: 5px;
			 z-index: 10;
		 }
	}

	#insta-a{
		cursor: default;
	}
	a {
		text-decoration: none;
		//color: yellow;
		//cursor: default;
		.button-more {
			display: block;
			margin: 0 auto;
			//transition: .5s;
			@include btn;
			margin-top: 40px;
			a {
				text-decoration: none;
			}
			&:hover {
				background-image: linear-gradient(to top, white 0%, white 100%);
				color: red;
				border: 1px solid $color_lightpink;
				box-shadow: 0px 0px 20px 20px rgba(252, 130, 151, 0.2);
			}

			&:hover > a {
				text-decoration: none;
				color: $color_lightpink;
			}
		}
	}

	.text{
		display: inline-block;

	}
	.cake-img{
		border-radius: 8px;
		//margin: 5px;
	}
}
.menulist-btn__active{
	/*button{
		background-image: linear-gradient(to top, white 0%, white 100%);
		color: red;
		border: 1px solid $color_lightpink;
		box-shadow: 0px 0px 20px 20px rgba(252, 130, 151, 0.2);
	}*/
	.round{
		//background-color: $color_lightpink;
		background-color: #fff;
		border: 1px solid $color_lightpink;
		box-shadow: 0px 0px 20px 20px rgba(252, 130, 151, 0.2);
	}

}


.popup{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background-color: rgba(0, 0, 0, 0.5);
	img {
		max-width: 80vw;
		max-height: 95vh;
		border-radius: 50px;
	}
	.close{
		position: absolute;
		top: 10px;
		right: 10px;

	}
}


.bg_img_left {
	position: absolute;
	left: -1vw;
}
.bg_img_right {
	position: absolute;
	right: 0;
}
#almonds, #green{
	max-width: 150px;
	top: -150px;
	height: auto;
	z-index: 1;
}
#huzlenut{
	max-width: 150px;
	bottom: -300px;
	height: auto;
	z-index: 1;
}
#blueberries{
	top: 153px;
	z-index: 0;
}

.about {
	padding: $padding_container;
	min-height: 100%;

	background-color: $color_bg1;
	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;

		//о пекаре
		#wrapper__about {
			display: flex;
			justify-content: center;
			.about__author-img {
				border-radius: 100%;
				height: 250px;
				margin-top: 30px;
				border: 5px solid white;
				box-shadow: 10px 15px 25px 0 rgba(255, 255, 255, 0.2);
			}
			.about__text {
				padding-left: 50px;
				margin-top: 50px;

			}
		}

		//кругляшки
		#wrapper__about2 {
			display: flex;
			justify-content: space-evenly;
			align-content: center;
			flex-wrap: wrap;
			.about2__item {
				display: block;
				.about2__round {
					margin: 0 auto;
					margin-top: 20px;
					margin-bottom: 20px;
					background-color: white;
					height: 160px;
					width: 160px;
					border: 1px solid white;
					border-radius: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					box-shadow: 10px 15px 25px 0 rgba(255, 255, 255, 0.2);
					img {
						height: 120px;
					}
				}
				.about2__text {
					text-align: center;
					display: block;
					margin: 0 auto;
					padding-top: 10px;
					width: 320px;
				}
			}
		}
	}
}

/* not use */
/*
.sale{
	padding: $padding_container;
	min-height: 100%;
	background-color: $color_blue;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	.sale_wrapper{
		display: flex;
		justify-content: space-evenly;
		align-content: center;
		flex-wrap: wrap;
		.wrapper_left{
			text-align: center;
		}
		.wrapper_right{
			text-align: center;
			width:50%;
			.wrapper__timer{
				display: flex;
				justify-content: space-evenly;
				margin-top:60px;
				padding-left:95px;
				align-items:center;
				.timer_num{
					display: inline-block;
					background-color: white;
					width: 100px;
					height: 125px;
					margin: 5px;
					box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 0.4);
					span {
						margin-top:20px;
						margin-bottom:5px;
						font-size:56px;
						font-weight:700
					}
				}
			}
		}
	}
}
*/




.deliver{
	padding: $padding_container;
	min-height: 100%;
	background-color: $color_blue;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	&__wrapper{
		display: flex;
		justify-content: space-evenly;
		align-content: center;
		flex-wrap: wrap;
		.deliver__item{
			padding: 32px;
			z-index:10;
			.deliver__round {
				margin: 0 auto;
				margin-top: 20px;
				background-color: $color_lightpink;
				height: 160px;
				width: 160px;
				border-radius: 100%;
				box-shadow: 10px 15px 25px 0 rgba(255, 255, 255, 0.6);
				display: flex;
				justify-content: center;
				align-items: center;
				vertical-align: middle;
				.deliver_img {
					width: 160px;
					z-index: 2;
				}
			}
			.deliver__text {
				p {
					padding-top: 20px;
				}
				padding-top: 20px;
				text-align: center;
				display: block;
				margin: 0 auto;
				width: 320px;
			}
		}
	}
}

.feedback{
	padding: $padding_container;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	overflow: hidden;
	.wrapper{
		margin: 0 auto;
	}
	&__img{
		height: 70vh;
		border-radius: 25px;
		margin: 0 auto;
	}
	.slick-prev, .slick-next{
		background-color: $color_blue;
		height: 50px;
		width: 50px;
		margin: 20px;
		border-radius: 20px;
		z-index: 10;
		transition: .5s;
		&:hover{
			background-color: $color_lightpink;
			color: black;
		}
		&:active {
			background-color: $color_blue;
			color: black;
		}
	}
}

.contacts{
	padding: $padding_container;
	background-color: $color_bg1;
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	.container {
		.wrapper__contacts {
			display: flex;
			justify-content: space-between;
			.text {
				display: block;
			}

			iframe {
				display: inline-block;
				margin-right: 50px;
			}
		}
		.foot{
			font-size: 0.7em;
			text-align: right;
			display: block;
			margin-right: 50px;
		}
		a{
			text-decoration:none;
			color: white;
		}
		a:hover{
			text-decoration:none;
		}
		.promo-btn {
			display: inline-block;
			@include btn;
			box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 0.4);
			&:hover{
				background-image: linear-gradient(to top, white 0%, white 100%);
				color: red;
			}

		}
	}
}


header {
	visibility: hidden;
	display:none;
	position: fixed;
	//width: 100%;
	width: 60px;
	top: 0;
	left: 0;
	z-index: 20;
	height:80px;
	background: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
	//display: flex;
	padding: 5px 0;
	align-items: center;
	justify-content: space-between;

}

.header__nav {
	position: absolute;
	right: 36px;
	display: block;
}
.header__menu {
	display: flex;
	position: relative;
	z-index: 2;
}
.header__menu li {
	list-style: none;
	margin: 0px 0px 0px 36px;
	color: #000;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
}
@media(max-width: 767px){
	.background1{
		background-size: auto;
	}
	.background2{
		background-size: auto;
	}
	header {
		visibility: visible;
	}
	.nav .container .nav__menu{
		display: none;
		height: 0;
	}
	.nav .container {
		.nav__menu2 {
			display: flex;
			justify-content: space-evenly;
			margin: 20px;

		}
		.nav__title{
			display: none;
		}
	}
	.nav {
		.arrow_up {
			display: none;
		}
	}
	.contacts .container .wrapper__contacts iframe{padding-top: 20px}

	.header__nav {
		display: block;
		position: absolute;
		top: 55px;
		left: 0;
		background: white;
		width: 250px;
		box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
		transition: all 0.4s ease;
		left: -252px;
	}
	.header__menu {
		display: block;
	}
	.header__nav.open-menu{
		left:0;
	}
	.header__menu li {
		margin: 40px 0px 40px 33px;
		text-decoration: none;
		font-size: 2rem;
	}
	.menu-burger__header {
		position: relative;
		width: 40px;
		height: 35px;
		display: block;
		margin-left: 10px;
		top: 8px;
	}
	.menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
		height: 3px;
		width: 100%;
		position: absolute;
		background: #515758;
		margin: 0 auto;
	}
	.menu-burger__header span{
		top: 16px;
	}
	.menu-burger__header:after, .menu-burger__header:before{
		content: '';
	}
	.menu-burger__header:after{
		bottom: 5px;
	}
	.menu-burger__header:before{
		top: 5px;
	}
	.menu-burger__header.open-menu span {
		opacity:0;
		transition: 0.5s;
	}
	.menu-burger__header.open-menu:before {
		transform: rotate(38deg);
		top: 16px;
		transition: 0.4s;
	}
	.menu-burger__header.open-menu:after {
		transform: rotate(-38deg);
		bottom: 16px;
		transition: 0.4s;
	}

	header {
		height: 60px;
		border-radius: 5px;
		top:2px;
		left: 2px;
		a{
			text-decoration: none;
			color:$color_lightpink;
		}

	}
	.content-wrapper {
		margin-top: 48px;
	}
	.fixed-pade {
		overflow: hidden;
	}


}


// w-container ~1200px, cont 970px
// 992px - cont max-width: 750px
// 767px - cont max-width: none

@media screen and (max-width: 767px) {
	.feedback {
		background-color: $color_bg2;
		.wrapper {
			width: auto;
			.feedback-img {
				padding: 0 5px 0 5px;
				border: 1px solid white;
			}
		}
	}
	.menulist {
		&__wrapper {
			//display: block;
			.menulist__item {
				display: flex;
				.round {
					display: inline-block;
					height: 55px;
					width: 55px;
					//.menulist__item-img{
					//
					//}
					img {
						height: 50px;
					}
					button{
						display: inline-block;
					}
				}
			}
		}
	}
	.slick-next, .slick-prev {
		visibility: hidden;
	}

}

@media screen and (max-width: 600px) {
	.contacts .container .wrapper__contacts {display: block}
	.contacts .container .promo-btn-footer {
		display: flex;
		margin: 0 auto;
	}
	.contacts .container .wrapper__contacts iframe{
		display: block;
		margin: 0 auto;
	}
	.contacts .container .foot{
		margin-right: 0;
	}
	.background2 {
		font-size: 0.98rem;
	}
	.about .container #wrapper__about {display: block}
	.about .container #wrapper__about .about__author-img{
		display: block;
		margin: 0 auto;
		margin-top: 10px;
	}
	.about .container #wrapper__about .about__text{
		padding-left: 10px;
		padding-top: 10px;
		margin-top: 0;
	}
	.nut {top: -100px}

}
@media screen and (max-width: 400px) {
	.background2 {
		font-size: 0.97rem;
	}

}
@media screen and (max-width: 350px) {
	.blueberries{display: none}
	.deliver__wrapper .deliver__item {padding: 0}
	.background2{font-size: 0.87rem}
}


.wrapper__hide{
	//background-color: red;
}
